@mixin button-base {
  @include button-typography;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0.5333em 1em;
  min-width: 6.25rem;
  transition: 0.3s;
  border-radius: $shape-radius-sm;

  &:disabled {
    cursor: not-allowed;
  }

  @include hover {
    background-color: select-color(background, brandNeutralHover);
    color: select-color(text, primaryRegular);
  }

  &:focus-visible {
    @include focus;
  }

  &:active:enabled {
    outline: none;
    outline-offset: 0;
    animation: scale-up-center 0.3s both;
  }
}

@mixin button-primary {
  color: select-color(text, primaryRegularOnDark);
  background-color: select-color(background, brandDark);

  @include hover {
    background-color: select-color(background, brandDarkHover);
    box-shadow: select-shadow(300);
  }

  &:focus-visible {
    @include focus {
      background-color: select-color(background, brandDarkFocus);
      box-shadow: select-shadow(300);
    }
  }

  &:disabled {
    background-color: select-color(background, disabled);
  }
}

@mixin button-secondary-on-light {
  color: select-color(text, primaryRegular);
  background-color: transparent;
  border: $border-thick solid select-color(border, primaryOnLight);

  @include hover {
    color: select-color(text, primaryRegularOnDark);
    background-color: select-color(background, brandTransparentHover);
    border-color: select-color(border, primaryOnLight);
    box-shadow: select-shadow(300);
  }

  &:focus-visible {
    @include focus {
      color: select-color(text, primaryRegularOnDark);
      background-color: select-color(background, brandTransparentFocus);
      border-color: select-color(border, primaryOnLight);
      box-shadow: select-shadow(300);
    }
  }
}

@mixin button-secondary-on-dark {
  color: select-color(text, primaryRegularOnDark);
  background-color: select-color(background, brandNeutral);
  border: $border-thick solid select-color(border, primaryOnDark);

  @include hover {
    color: select-color(text, primaryRegular);
    background-color: select-color(background, brandNeutralHover);
    border-color: select-color(border, primaryOnLight);
  }

  &:focus-visible {
    @include focus {
      color: select-color(text, primaryRegular);
      background-color: select-color(background, brandNeutralHover);
      border-color: select-color(border, primaryOnLight);
    }
  }
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
