@import '../0-base/utils-functions';
@import '../0-base/utils-mixins';
@import '../2-foundations/typography/mixins';
@import '../2-foundations/colors/functions';
@import '../2-foundations/shadows/functions';
@import '../2-foundations/shapes/shapes';
@import '../2-foundations/border/border';

@mixin button-base {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.3s;
  border-radius: $shape-radius-sm;
  height: 3.125rem;

  @include media-breakpoint-up(md) {
    min-width: 6.25rem;
    height: 3.4375rem;
  }

  @include hover {
    box-shadow: select-shadow(300);
  }

  &:focus-visible {
    @include focus {
      box-shadow: select-shadow(300);
    }
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:active:enabled {
    outline: none;
    outline-offset: 0;
    animation: scale-up-center 0.3s both;
  }
}

@mixin icon-button {
  border-radius: 50%;
  min-width: unset;
  height: unset;
  padding: 1rem;

  @include media-breakpoint-up(md) {
    min-width: unset;
    height: unset;
    padding: 0.625rem;
  }

  @include hover {
    box-shadow: unset;
    transform: translateY(-0.3125rem);
  }
}

@mixin button-primary {
  color: select-color(text, primaryRegularOnDark);
  background-color: select-color(background, primary);

  @include hover {
    background-color: select-color(background, primaryHover);
    box-shadow: select-shadow(300);
  }

  &:focus-visible {
    @include focus {
      background-color: select-color(background, primaryHover);
    }
  }

  &:disabled {
    background-color: select-color(background, primaryButtonDisabled);
  }
}

@mixin button-secondary-on-light {
  color: select-color(text, primaryRegularOnDark);
  background-color: select-color(background, secondaryButtonOnLight);
  border-color: select-color(border, primaryOnLight);

  @include hover {
    background-color: select-color(background, secondaryButtonOnLightHover);
    border-color: select-color(border, primaryOnLightHover);
  }

  &:focus-visible {
    @include focus {
      background-color: select-color(background, secondaryButtonOnLightHover);
      border-color: select-color(border, primaryOnLightHover);
    }
  }
}

@mixin button-secondary-on-dark {
  color: select-color(text, primaryRegularOnDark);
  background-color: transparent;
  border-color: select-color(border, primaryOnDark);
  border: $border-thick solid select-color(border, primaryOnDark);

  @include hover {
    background-color: select-color(background, primary);
  }

  &:focus-visible {
    @include focus {
      background-color: select-color(background, primary);
    }
  }
}

@mixin button-size-sm {
  height: 2.3125rem;
  padding-left: 1.625em;
  padding-right: 1.625em;

  @include media-breakpoint-up(md) {
    height: 2.5rem;
    padding-left: 1.875em;
    padding-right: 1.875em;
  }
}

@mixin button-size-md {
  height: 2.8125rem;
  padding-left: 2em;
  padding-right: 2em;

  @include media-breakpoint-up(md) {
    height: 3.125rem;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }
}

@mixin button-size-lg {
  height: 3.4375rem;
  padding-left: 2.75em;
  padding-right: 2.75em;

  @include media-breakpoint-up(md) {
    padding-left: 3em;
    padding-right: 3em;
    height: 3.75rem;
  }
}

@mixin button-with-border {
  border-style: solid;
  border-width: $border-thick;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
